body { 
    background-color: #1E1B28;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.onglet { 
    font-family: JetBrains Mono, sans-serif;
    display: flex;
    flex-direction: row-reverse;
    font-size: 190%;
    margin-right: 3%;
}

.contenu { 
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 7%;
}

.presentation { 
    display: flex;
    flex-direction: row;
}

.prenom { 
    font-family: Jost, sans-serif;
    font-weight: 300 !important;
    color: white;
    font-size: 600%;
    margin-bottom: 0;
}

.menu {
    color: white;
    margin-right: 3%;
    margin-top: 3%; 
    text-decoration: none;
}

.menu:hover {
    text-decoration: underline;
}

.texte { 
    font-family: Inter, sans-serif;
    font-size: 190%;
    margin-right: 5%;
    color: white;
}

.avatar { 
    background-image: url(../img/photo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 1000px;
    height: 500px;
    margin: 5vh;
    border: #1E1B28 solid 5px;
}

.ligne { 
    background-color: white;
    color: white;
    font-size: 2px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.page { 
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.triangle { 
    width: 8%;
}

.titre { 
    font-family: Jost, sans-serif;
    font-weight: 100 !important;
    font-size: 500%;
    text-transform: uppercase;
    margin: 0;
}

.center {
    text-align: center;
    color: white;
}

.contact { 
    background-color: white;
    margin: 0;
    padding: 0;
    color: #1E1B28;
}

.element { 
    display: flex;
    flex-direction: row;
}

.social { 
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    margin-left: 2vh;
    margin-bottom: 2vh;
    margin-right: 2vh;
}

.mail, .linkedin {
    display: flex;
    align-items: center;
    font-family: Jost, sans-serif;
    font-size: 3vh;
}

.jeux_videos {
    background-image: url(../img/jeux_videos.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 5vh;
    filter: blur(2px);
    border: #1E1B28 solid 5px;
}

.jeux_videos:hover {
    filter: none;
    border: white solid 5px;
}

.dessin {
    background-image: url(../img/dessin.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 5vh;
    filter: blur(2px);
    border: #1E1B28 solid 5px;
}

.dessin:hover {
    filter: none;
    border: white solid 5px;
}

.manga {
    background-image: url(../img/anime.webp);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin: 5vh;
    filter: blur(2px);
    border: #1E1B28 solid 5px;
}

.manga:hover {
    filter: none;
    border: white solid 5px;
}

.loisir { 
    display: flex;
    flex-direction: row;
}

.nom { 
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    font-family: Jost, sans-serif;
    font-size: 4vh;
    font-weight: 200;
}

.titre-competences { 
    font-family: Jost, sans-serif;
    font-weight: 200;
    font-size: 4vh;
    background-color: white;
    color: black;
    width: 278px;
    height: 57px;
    text-align: center;
}

.img-page{
    margin-left: 3%;
    margin-right: 3%;
    width: auto;
    height: 350px;
    z-index: 1;
    position: relative;
    border-radius: 5%;
}

.img-nom{
    margin-left: 3%;
    margin-right: 3%;
    width: auto;
    height: 200px;
    z-index: 1;
    position: relative;
    border-radius: 5%;
}

.margin {
    margin-right: 3%;
    margin-left: 3%;
}