.vertical-box { 
    display: flex;
    background-color: #666273;
    border-radius: 5%;
    width: 267px;
    height: 328px;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

.img-competences { 
    width: auto;
    height: 212px;
    z-index: 1;
    position: relative;
}

.box-1 { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.h-img-competences { 
    width: 212px;
    height: auto;
    position: relative;
    z-index: 1;
}

.box-2 { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.horizontal-box { 
    display: flex;
    background-color: #666273;
    border-radius: 5%;
    width: 328px;
    height: 267px;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

.html-text{
    z-index: 100;
    color: white;
    position: relative;
    left: 40%;
    display: none;
}

.css-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 27%;
    display: none;
}

.js-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 27%;
    display: none;
}

.php-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 30%;
    display: none;
}

.sql-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 30%;
    display: none;
}

.procreate-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 30%;
    display: none;
}

.illustrator-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 32%;
    display: none;
    text-align: center;
}

.designer-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 32%;
    display: none;
    text-align: center;
}

.premierepro-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 32%;
    display: none;
    text-align: center;
}

.photoshop-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 32%;
    display: none;
    text-align: center;
}

.photo-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 32%;
    display: none;
    text-align: center;
}

.davinci-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 32%;
    display: none;
}

.ac-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 32%;
    display: none;
    text-align: center;
}

.sims-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 18%;
    display: none;
}

.osu-text {
    z-index: 100;
    color: white;
    position: relative;
    left: 32%;
    display: none;
}

.typo-competences {
    font-family: Jost, sans-serif;
    font-weight: 300 !important;
    font-size: 4vh;
}

.footer { 
    margin-top: 3vh;
    margin-left: 3vh;
}

.vertical-box:hover, 
.horizontal-box:hover {
    background-color: #2c2a33;
}

.vertical-box:hover > .html {
    opacity: 20%;
    right: 16.5%;
}

.vertical-box:hover > .html-text {
    display: inline;
}

.vertical-box:hover > .css {
    opacity: 20%;
    right: 11.5%;
}

.vertical-box:hover > .css-text {
    display: inline;
}

.vertical-box:hover > .js {
    opacity: 20%;
    right: 27.5%;
}

.vertical-box:hover > .js-text {
    display: inline;
}

.horizontal-box:hover > .php {
    opacity: 20%;
    right: 10%;
}

.horizontal-box:hover > .php-text {
    display: inline;
}

.horizontal-box:hover > .sql {
    opacity: 20%;
    right: 10%;
}

.horizontal-box:hover > .sql-text {
    display: inline;
}

.horizontal-box:hover > .procreate {
    opacity: 20%;
    right: 21.5%;
}

.horizontal-box:hover > .procreate-text {
    display: inline;
}

.horizontal-box:hover > .illustrator {
    opacity: 20%;
    right: 20.5%;
}

.horizontal-box:hover > .illustrator-text {
    display: inline;
}

.horizontal-box:hover > .designer {
    opacity: 20%;
    right: 21.5%;
}

.horizontal-box:hover > .designer-text {
    display: inline;
}

.horizontal-box:hover > .premierepro {
    opacity: 20%;
    right: 28.5%;
}

.horizontal-box:hover > .premierepro-text {
    display: inline;
}

.horizontal-box:hover > .photoshop {
    opacity: 20%;
    right: 25.5%;
}

.horizontal-box:hover > .photoshop-text {
    display: inline;
}

.horizontal-box:hover > .photo {
    opacity: 20%;
    right: 17.5%;
}

.horizontal-box:hover > .photo-text {
    display: inline;
}

.horizontal-box:hover > .davinci {
    opacity: 20%;
    right: 17.5%;
}

.horizontal-box:hover > .davinci-text {
    display: inline;
}

.horizontal-box:hover > .ac {
    opacity: 20%;
    right: 21%;
}

.horizontal-box:hover > .ac-text {
    display: inline;
}

.horizontal-box:hover > .sims {
    opacity: 20%;
    right: 15.5%;
}

.horizontal-box:hover > .sims-text {
    display: inline;
}

.horizontal-box:hover > .osu {
    opacity: 20%;
    right: 11.5%;
}

.horizontal-box:hover > .osu-text {
    display: inline;
}
